<div class="container-sm mt-5 mb-4">
  <button *ngIf="isUserAdmin()" mat-raised-button color="primary" class="add-accommodation-button" routerLink="/new-accommodation">Add Accommodation</button>

  <div class="row g-4" *ngIf="accommodationsList && accommodationsList.length > 0">
    <div class="col-md-3" *ngFor="let accommodation of accommodationsList">
      <mat-card class="accommodation-card">
        <mat-card-header>
          <div mat-card-avatar class="accommodation-card-header-image"
               style="background-image: url({{accommodation.countryFlagImageSrc}});background-size: cover;"></div>
          <mat-card-title>{{accommodation.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="accommodation.city && accommodation.city.name">
            {{accommodation.city.name}}
          </mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="accommodation.photo && accommodation.photo.photoFile" mat-card-image class="img-responsive"
             src="{{'data:image/jpg;base64,' + accommodation.photo.photoFile}}" alt="">
        <img *ngIf="!accommodation.photo || !accommodation.photo.photoFile" mat-card-image class="img-responsive"
             src="../../../assets/images/no_image_available.jpg" alt="">
        <mat-card-content>
          <p class="description">{{accommodation.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/accommodation/{{accommodation.accommodationId}}">SEE MORE</button>
          <span style="float: right; padding-top: 15px; color: red"
                *ngIf="isAccommodationAlmostFull(accommodation)"><mat-icon>local_hotel</mat-icon> {{accommodation.numberOfBookedSlots}}/{{accommodation.totalNumberOfSlots}}</span>
          <span style="float: right; padding-top: 15px; color: green"
                *ngIf="!isAccommodationAlmostFull(accommodation)"><mat-icon>local_hotel</mat-icon> {{accommodation.numberOfBookedSlots}}/{{accommodation.totalNumberOfSlots}}</span>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
