<mat-toolbar  class="app-header">
  <div><a href="home" target="_self" class="positronx">Find A Booking</a></div>
  <span class="nav-tool-items">
    <a *ngIf="!isUserLoggedIn()" mat-button routerLink="login" routerLinkActive="active">Login</a>
    <a *ngIf="!isUserLoggedIn()" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    <a *ngIf="isUserLoggedIn() && isUserAdmin()" mat-button mat-raised-button routerLink="users-management" routerLinkActive="active">Manage Users</a>
    <button *ngIf="isUserLoggedIn()" mat-button style="color: white" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </span>
</mat-toolbar>
