.register-wrapper {
  background-image: url("../../assets/images/login_page_background.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.example-full-width {
  width: 300px;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.register-btn {
  background-color: forestgreen;
}

.invalid-message {
  padding-top: 10px;
  color: darkgray;
}

.warning-message {
  margin-top: 20px;
  color: red;
}
